.azeret-mono-normal {
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
}

/* shared style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color1{
    color:#0D1321 ;
}
.margin-padding{
    margin-bottom: 32px;
    padding: 48px;
}
/* style banner */
.banner{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 582px; */
    min-height: 652px;
    max-width: 1440px;
    margin: 26px 221px 46px 221px;
    background-image: url(../images/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 652px;
    margin: 0 auto;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 582px; */
    min-height: 581px;
    max-width: 998px;
    margin: 26px 221px 46px 221px;
}
.banner-title{
    font-size: 48px;
    font-weight: 900;
    margin-top: 32px;
    text-align: center;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
/* style for button0 */
.btn{
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1) ;
    background-color: #0D1321;
    margin-top: 32px;
    margin-bottom: 45px;
    padding: 21px 24px 21px 24px;

}

/* dream lavel style */
.why-do-devoloper{
    margin: 74px 152px 90px 148px;
    padding:80px 97px;
    background-color:rgba(13, 19, 33, 0.02);
}

.devolopment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:80px 87px;
}
.web-title{
    font-size: 32px;
    font-weight: 900px;
    color: #0D1321;
    text-align: center;
}
.web-description{
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
    margin: 24px 47px 48px;
    text-align: center;
}
.dream-lavel{
    display: flex;
    gap:98.83px ;
    border-radius: 16px;
    
}
.dream-lave3{
    padding: 48px;
}
.dream1-title{
    font-size: 24px;
    font-weight: bold;
    color:rgba(13, 19, 33, 0.7);
    margin-top: 10.5px;
    margin-bottom: 16px;

}
.dream1-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
}
.dream-button{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
}

/* my inspiration section style */

.inspiration-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    margin-right:152px;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900px;
    color: rgba(13, 19, 33, 1);
}
.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1076px;
    height: 550px;
    border-radius:16px;
    margin: 0 auto;
    border: 2px solid rgba(13, 19, 33, 0.2) ;
    padding: 32px;

}

/* main er  footer style */
.main-footer{
    max-width: 1140px;
    /* width: 1140px; */
    min-height: 313px;
    /* margin: 50px 150px 80px 150px; */
    margin: 0 auto;
    margin-top: 49px;
    /* margin-bottom: 50px; */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 48px;
    background-image: url(../images/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.footer-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-top: 64px;
}
.footer-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}
.main-footer-form > input{
        font-size: 16px;
        font-weight: 400;
        color:rgba(13, 19, 33, 0.4) ;
        padding: 19px 225px 19px 20px;
        margin-top: 24px;
        gap: 16px;
        border-radius: 10px;
}
.main-footer-form > button{
    font-size: 20px;
        font-weight: 600;
        color:rgba(13, 19, 33, 1) ;
        padding: 17px 20px 17px 20px;
        margin-top: 24px;
        border-radius: 10px;
}

/* website footer style */
.web-footer{

    

}
.web-foot-logo{
    display: flex;
    display: inline;
}