.azeret-mono-normal {
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
}

/* shared style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color1{
    color:#0D1321 ;
}
.margin-padding{
    margin-bottom: 32px;
    padding: 48px;
}
.bg-color1{
    background-color: rgba(255, 76, 30, 0.05);
}
.bg-color2{
   background-color: rgba(0, 76, 232, 0.05);
}
.bg-color3{
    background-color: rgba(255, 223, 0, 0.05);
}
.li-style{
    list-style: none;
}
.space-d{
    margin-top: 8px;
    margin-bottom: 24px;
}
.space-t{
    margin-top: 24px;
}
/* style banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 652px;
    background-image: url(../images/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 581px;
    max-width: 998px;
    margin: 26px 221px 46px 221px;
}
.banner-title{
    font-size: 48px;
    font-weight: 900;
    margin-top: 32px;
    text-align: center;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
/* style for button0 */
.btn{
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1) ;
    background-color: #0D1321;
    margin-top: 32px;
    margin-bottom: 45px;
    padding: 21px 24px 21px 24px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* why web development style */
.why-do-devoloper{
    border-radius: 16px;
    margin-top: 74px;
    padding:80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devolopment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:80px 87px;
}
.web-title{
    font-size: 32px;
    font-weight: 900px;
    color: #0D1321;
    text-align: center;
}
.web-description{
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
    margin: 24px 47px 48px;
    text-align: center;
}
.dream-lavel{
    display: flex;
    gap:98.83px ;
    border-radius: 16px;
    
}
.dream-lave3{
    padding: 48px;
}
.dream1-title{
    font-size: 24px;
    font-weight: bold;
    color:rgba(13, 19, 33, 0.7);
    margin-top: 10.5px;
    margin-bottom: 16px;

}
.dream1-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
}
.dream-button{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
}

/* my inspiration section style */

.inspiration-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    margin-right:152px;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900px;
    color: rgba(13, 19, 33, 1);
}
.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1076px;
    height: 550px;
    max-width: 1076px;
    border-radius:16px;
    margin: 0 auto;
    border: 2px solid rgba(13, 19, 33, 0.2) ;
    padding: 32px;

}
/* skill style */
.skills{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    margin-top: 151px;

}
.section-title{
    font-size: 32px;
    font-weight: 900;
    color:rgba(13, 19, 33, 1);
    text-align: center;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
.sills-container{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    
}
.skill{
    padding:40px;
}

/* support section style */
.main-footer{
    max-width: 1140px;
    min-height: 313px;
    margin: 0 auto;
    margin-top: 111px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 48px;
    background-image: url(../images/assets/handshake.jpg);
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-top: 64px;
}
.footer-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}
.main-footer-form > input{
        font-size: 16px;
        font-weight: 400;
        color:rgba(13, 19, 33, 0.4) ;
        padding: 19px 225px 19px 20px;
        margin-top: 24px;
        gap: 16px;
        border-radius: 10px;
}
.main-footer-form > button{
    font-size: 20px;
        font-weight: 600;
        color:rgba(13, 19, 33, 1) ;
        padding: 17px 20px 17px 20px;
        margin-top: 24px;
        margin-bottom: 64px;
        border-radius: 10px;
}

/* website footer style */
.web-foot{
    display: flex;
    align-items: center;
    margin:0 auto;
    min-height: 100px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
}
.web-foot ,.list1{
    list-style: none;
    margin: 24px;

}
.web-foot , .logo-list{
    display: flex;
    justify-content: space-around;
}
.web-foot-description{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
}

